.led {
  display: block;
  width: var(--LED-diameter);
  height: var(--LED-diameter);
  background-color: #505050;
  border-width: var(--LED-border-width);
  border-style: solid;
  border-color: #282828;
  border-radius: 50%;
  cursor: pointer;
}
